@use "base";

// list

#s-list {
  padding: base.$section-padding;
  margin-bottom: base.$section-margin-bottom;

  ul {
    list-style-type: none;
    padding: 0px;

    li {
      border: 1px solid black ;
      border-radius: 15px;
      padding: 15px;
      margin-bottom: 30px;

      > .left-side {
        img {
          height: 70%;
          margin-right: 64px;
        }

        > .right-side {
          p:first-child {
            font-weight: bold;
          }
        }
      }

      > .right-side {
        text-align: end;
      }
    }
  }
}
