$section-padding: 0px 55px;
$section-margin-bottom: 80px;

// jumbotron

#s-jumbotron {
  background-image: url('/image/bg-jumbotron.png');
  background-size: cover;
  grid-template-columns: 1fr 1fr;
  color: white;
  margin-bottom: 80px;

  .left-side {
    padding: 74px 15px 64px 42px;

    .jmbtrn-text {
      width: 70%;
    }

    .jmbtrn-text:first-child {
      font-size: 55px;
      margin-bottom: 26px;
    }
    .jmbtrn-text:last-child {
      font-size: 24px;
    }
  }
}

// tutorial
#s-tutorial {
  grid-template-columns: 1fr 1fr;
  margin-bottom: $section-margin-bottom;

  .right-side {
    h1 {
      margin-bottom: 30px;
    }

    .button-container {
      padding-left: calc(40px + 40px + 30px);
      margin-bottom: 32px;
    }

    ul {
      list-style-type: none;

      li {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 38px;

        .order {
          margin-right: 30px;
          width: 40px;

          .box {
            width: 35px;
            height: 35px;
            border: 1px solid black;
            border-radius: 200px;
            font-size: 32px;
          }
        }

        .content {
          .text:first-child {
            font-size: 32px;
          }

          .text:last-child {
            font-size: 20px;
          }
        }
      }
    }
  }
}

// footer

#s-footer {
  footer {
    padding: $section-padding;
    padding-top: 15px;
    padding-bottom: 15px;
    .left-side {
      img {
        width: 100px;
        height: 100px;
        margin-right: 25px;
      }
    }
  }
}
